{
  "presets": [
    "@deskpro/apps-dpat/node_modules/babel-preset-es2015",
    "@deskpro/apps-dpat/node_modules/babel-preset-react",
    "@deskpro/apps-dpat/node_modules/babel-preset-stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "@deskpro/apps-dpat/node_modules/babel-plugin-transform-runtime",
        "@deskpro/apps-dpat/node_modules/babel-plugin-transform-object-rest-spread"
      ]
    }
  }
}
